/*
Copyright 2014 Egbert van der Wal <egbert@assistobot.com>

This file is part of redmine_planning

redmine_planning is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

redmine_planning is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with redmine_planning. If not see <http://www.gnu.org/licenses/>.
*/

body
{
    font-family:        "DejaVu Sans", sans-serif;
    font-size:          10pt;
    color:              #444444;
}

a:link,
a:visited,
a:active
{
    text-decoration:    none;
    color:              navy;
}

a:hover
{
    text-decoration:    none;
}

#content
{
    height:             100%;
}

#redmine_planning_chart
{
    height:             480px;
    width:              100%;
}

svg tspan,
svg text
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div.planning-tooltip
{
    position:           absolute;
    border:             thin solid #aa0;
    border-radius:      3px;
    background-color:   #fff;
    padding:            5;
    font-size:          8pt;
    width:              400px;
    z-index:            100;
    padding:            5px;
}

div.planning-tooltip table
{
    

}
div.planning-tooltip table,
div.planning-tooltip table tr,
div.planning-tooltip table th,
div.planning-tooltip table td
{
    margin:             0;
    padding:            0;
    border-collapse:    0;
    border:             none;
}

div.planning-tooltip table th
{
    font-weight:        bold;
    text-align:         right;
    vertical-align:     top;
    width:              100px;
}

div.date-tooltip
{
    position:           absolute;
    border:             thin solid #aa0;
    border-radius:      3px;
    background-color:   #fff;
    z-index:            100;
    padding:            5px;

    display:            table-cell;
    text-align:         center;
    vertical-align:     middle;
}

div.date-tooltip p
{
    padding:            0;
    margin:             0;
}
