<% unless @issue %>
  <% if User.current.allowed_to?(:plan_issues, @project) %>
    <h3><%= l(:planning_head_planning) %></h3>
    <p>
      <%= link_to l(:planning_label_planning), rmp_gshow_planning_path %> |
    </p>
  <% else %>
    <h3><%= l(:planning_head_planning) %></h3>
    <p>
      <%= link_to l(:planning_label_planning), rmp_gshow_planning_path %>
    </p>
  <% end %>
<% end %>
